.body {
  background-color: #a1a1a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.bodyText {
  margin-bottom: 10px;
}

.form {
  display: grid;
}

.text {
  display: -webkit-inline-box;
  height: 30px;
  width: 50px;
}

.submit {
  border-radius: 10px;
  width: 227px; 
}

.error{
  color: orangered;
  font-size: 12px;
  margin-bottom: 5px;
}

.list {
  background-color: #a1a1a1;
  display: flex;
  flex-direction: row;
  min-height: 60vh;
}

.item {
  background-color: #a1a1a1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 55px;
}
